.paginationItem span {
  background-color: #D68B6B !important;
  color: #090F15 !important;
  border: 1px solid #D68B6B !important;
}

.paginationItem a {
  background-color: white !important;
  color: black !important;
  border: 1px solid #D68B6B !important;
}
